USE [master]
GO
/****** Object:  Database [DatanetaDB]    Script Date: 26/4/2025 20:03:56 ******/
CREATE DATABASE [DatanetaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DatanetaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DatanetaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DatanetaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DatanetaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DatanetaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DatanetaDB]
GO
/****** Object:  Table [dbo].[Chofer]    Script Date: 26/4/2025 20:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chofer](
	[Licencia] [varchar](20) NOT NULL,
	[DNI] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Fecha_Vto_Licencia] [date] NULL,
	[PeriodoDesde] [date] NULL,
	[PeriodoHasta] [date] NULL,
	[CantidadViajes] [int] NULL,
	[RecordFrecuente] [varchar](100) NULL,
	[IngresosGenerados] [decimal](10, 2) NULL,
	[PromedioCalificacion] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Licencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[DNI] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Domicilio] [varchar](100) NULL,
	[Mail] [varchar](100) NULL,
	[Fecha_Alta] [date] NULL,
	[ViajesCancelados] [int] NULL,
	[PeriodoDesde] [date] NULL,
	[PeriodoHasta] [date] NULL,
	[CantidadViajes] [int] NULL,
	[PromedioSatisfaccion] [decimal](5, 2) NULL,
	[TotalGastado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cliente_Mail] UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente_Medio_de_Pago]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente_Medio_de_Pago](
	[DNI] [int] NOT NULL,
	[ID_Medio_de_Pago] [int] NOT NULL,
	[Fecha_Pago] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC,
	[ID_Medio_de_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Tarifa_Servicio]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Tarifa_Servicio](
	[Pedido_ID] [int] NOT NULL,
	[Tarifa_ID] [int] NOT NULL,
	[Valor_Final] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pedido_ID] ASC,
	[Tarifa_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[ID_Estado] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Pedido]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Pedido](
	[Pedido_ID] [int] NOT NULL,
	[ID_Estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pedido_ID] ASC,
	[ID_Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medio_de_Pago]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medio_de_Pago](
	[ID_Medio_de_Pago] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Medio_de_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operador]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operador](
	[ID_Operador] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Turno] [varchar](20) NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Operador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Pedido_ID] [int] NOT NULL,
	[DNI] [int] NULL,
	[ID_Operador] [int] NULL,
	[Origen] [varchar](100) NULL,
	[Destino] [varchar](100) NULL,
	[Observaciones] [varchar](200) NULL,
	[Fecha_Solicitud] [date] NULL,
	[Adaptado_Solicitud] [bit] NULL,
	[FechaHoraAsignacion] [datetime] NULL,
	[Observaciones_Internas] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pedido_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte_M]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte_M](
	[ReporteID] [int] NOT NULL,
	[ChoferDni] [int] NULL,
	[FechaGeneracion] [date] NULL,
	[MesCorrespondiente] [int] NULL,
	[AñoCorrespondiente] [int] NULL,
	[TotalViajesRealizados] [int] NULL,
	[TotalViajesCancelados] [int] NULL,
	[IngresosTotales] [decimal](10, 2) NULL,
	[PromedioSatisfaccion] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReporteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarifa_Servicio]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarifa_Servicio](
	[Tarifa_ID] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Valor] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tarifa_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[DNI] [int] NOT NULL,
	[ID_Medio_de_Pago] [int] NOT NULL,
	[Nro_Tarjeta] [varchar](20) NULL,
	[Tipo_Tarjeta] [varchar](30) NULL,
	[Nombre_Completo_Titular] [varchar](100) NULL,
	[Fecha_Vencimiento] [date] NULL,
	[Codigo_Seguridad] [char](3) NULL,
 CONSTRAINT [PK_Tarjeta] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC,
	[ID_Medio_de_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono_Chofer]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono_Chofer](
	[Licencia] [varchar](20) NOT NULL,
	[Nro_Telefono_Chofer] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Licencia] ASC,
	[Nro_Telefono_Chofer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefono_Cliente]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefono_Cliente](
	[No_Telefono_Cliente] [varchar](20) NOT NULL,
	[DNI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[No_Telefono_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_App]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_App](
	[DNI] [int] NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[FechaRegistro] [date] NULL,
	[Contraseña] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[Patente] [varchar](10) NOT NULL,
	[Kilometraje] [int] NULL,
	[Capacidad_Vehiculo] [int] NULL,
	[Modelo] [varchar](50) NULL,
	[Año] [int] NULL,
	[Adaptado_TF] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Patente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viaje]    Script Date: 26/4/2025 20:03:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viaje](
	[Pedido_ID] [int] NOT NULL,
	[Licencia] [varchar](20) NULL,
	[DNI] [int] NULL,
	[Patente] [varchar](10) NULL,
	[ID_Medio_de_Pago] [int] NULL,
	[Fecha_Inicio] [datetime] NULL,
	[Fecha_Fin] [datetime] NULL,
	[Comentario] [varchar](200) NULL,
	[Cant_Pasajeros] [int] NULL,
	[Completado] [bit] NULL,
	[Calificacion] [decimal](3, 2) NULL,
	[ReporteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Pedido_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente_Medio_de_Pago]  WITH CHECK ADD FOREIGN KEY([ID_Medio_de_Pago])
REFERENCES [dbo].[Medio_de_Pago] ([ID_Medio_de_Pago])
GO
ALTER TABLE [dbo].[Cliente_Medio_de_Pago]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Detalle_Tarifa_Servicio]  WITH CHECK ADD FOREIGN KEY([Pedido_ID])
REFERENCES [dbo].[Pedido] ([Pedido_ID])
GO
ALTER TABLE [dbo].[Detalle_Tarifa_Servicio]  WITH CHECK ADD FOREIGN KEY([Tarifa_ID])
REFERENCES [dbo].[Tarifa_Servicio] ([Tarifa_ID])
GO
ALTER TABLE [dbo].[Detalle_Tarifa_Servicio]  WITH CHECK ADD  CONSTRAINT [FK_DetalleTarifa_Viaje] FOREIGN KEY([Pedido_ID])
REFERENCES [dbo].[Viaje] ([Pedido_ID])
GO
ALTER TABLE [dbo].[Detalle_Tarifa_Servicio] CHECK CONSTRAINT [FK_DetalleTarifa_Viaje]
GO
ALTER TABLE [dbo].[Estado_Pedido]  WITH CHECK ADD FOREIGN KEY([ID_Estado])
REFERENCES [dbo].[Estado] ([ID_Estado])
GO
ALTER TABLE [dbo].[Estado_Pedido]  WITH CHECK ADD FOREIGN KEY([Pedido_ID])
REFERENCES [dbo].[Pedido] ([Pedido_ID])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_ID_Operador] FOREIGN KEY([ID_Operador])
REFERENCES [dbo].[Operador] ([ID_Operador])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [FK_Pedido_ID_Operador]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_ClienteMedioPago] FOREIGN KEY([DNI], [ID_Medio_de_Pago])
REFERENCES [dbo].[Cliente_Medio_de_Pago] ([DNI], [ID_Medio_de_Pago])
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [FK_Tarjeta_ClienteMedioPago]
GO
ALTER TABLE [dbo].[Telefono_Chofer]  WITH CHECK ADD FOREIGN KEY([Licencia])
REFERENCES [dbo].[Chofer] ([Licencia])
GO
ALTER TABLE [dbo].[Telefono_Cliente]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Usuario_App]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioApp_Cliente] FOREIGN KEY([DNI])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Usuario_App] CHECK CONSTRAINT [FK_UsuarioApp_Cliente]
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD FOREIGN KEY([DNI])
REFERENCES [dbo].[Cliente] ([DNI])
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD FOREIGN KEY([Licencia])
REFERENCES [dbo].[Chofer] ([Licencia])
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD FOREIGN KEY([Patente])
REFERENCES [dbo].[Vehiculo] ([Patente])
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD FOREIGN KEY([Pedido_ID])
REFERENCES [dbo].[Pedido] ([Pedido_ID])
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_ClienteMedioPago] FOREIGN KEY([DNI], [ID_Medio_de_Pago])
REFERENCES [dbo].[Cliente_Medio_de_Pago] ([DNI], [ID_Medio_de_Pago])
GO
ALTER TABLE [dbo].[Viaje] CHECK CONSTRAINT [FK_Viaje_ClienteMedioPago]
GO
ALTER TABLE [dbo].[Viaje]  WITH CHECK ADD  CONSTRAINT [FK_Viaje_ReporteM] FOREIGN KEY([ReporteID])
REFERENCES [dbo].[Reporte_M] ([ReporteID])
GO
ALTER TABLE [dbo].[Viaje] CHECK CONSTRAINT [FK_Viaje_ReporteM]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CHK_Cliente_Promedio] CHECK  (([PromedioSatisfaccion]>=(0) AND [PromedioSatisfaccion]<=(10)))
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CHK_Cliente_Promedio]
GO
USE [master]
GO
